ul{
    list-style-type: decimal;
    text-decoration-style: dashed;
}
li{
    text-decoration-style: dotted;
}
html{
    background-color:  rgb(92, 92, 224);
}
form{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: start;
}