html{
        background-color:  rgb(92, 92, 224);
}
ul{
    list-style-type: decimal;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: space-evenly;
}
li{
    text-decoration-style: dotted;
    background-color: black;
    color: aqua;
    width: 200px;
    margin-bottom: 10px;
    display: grid;
}
h1,h3{
    display: grid;
    text-decoration: underline;
    justify-content: center;
    font-weight: 900;
    font-size: xx-large;
    font-style: oblique;
    font-family: sans-serif;
}
li>button:hover{
    background-color: red;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 550px;
}
form{
    display: grid;
    gap: 5px;

}
.clear{
    margin-top: 10px;
}
.clear:hover{
    background-color: blueviolet;
}
.submit:hover{
    background-color: green;
}
#notification{
    color: rgb(4, 124, 14);
}
.addBooks{
 background-color: burlywood;
padding: 5px;

}
.myBooks{
display: flex;
flex-direction: column;
background-color: blanchedalmond;

}
.searchBooks{
padding: 5px;
background-color: burlywood;
}